/*html, body {
    background-image: url('https://poltergeistexchange.com/static/media/background.81a4821d.png');
    height: 100%;
    box-sizing: border-box;
}*/

/* -------------------------------- Main components -------------------------------- */


 html {
     box-sizing: border-box;
     height: 100%;
}
 *, *:before, *:after {
     box-sizing: inherit;
}
 body {
     background-color: #211f23;
     background-repeat: no-repeat;
     color: #fff;
     font-family: sans-serif;
     font-size: 100%;
     min-height: 100%;
     line-height: 1.5;
     padding: 2.5em 0;
}
 .container {
     margin: 0 auto;
     width: 100%;
     max-width: 1200px;
}
 .group:after {
     content: "";
     display: table;
     clear: both;
}
 .grid-1-3 {
     border: 2px solid #5d4e65;
     min-height: 520px;
     padding: 1.25em;
     position: relative;
     text-align: center;
     transition: all 0.2s ease-in-out;
}
 @media screen and (min-width: 700px) {
     .grid-1-3 {
         float: left;
         width: 70%;
    }
     .grid-1-3:nth-child(odd) {
         clear: left;
    }
}
 @media screen and (min-width: 800px) {
     .grid-1-3 {
         width: 33.3333333%;
    }
     .grid-1-3:nth-child(3n+1) {
         clear: left;
    }
     .grid-1-3:nth-child(odd) {
         clear: none;
    }
}
 @media screen and (min-width: 1120px) {
     .grid-1-3 {
         width: 46%;
    }
     .grid-1-3:nth-child(odd), .grid-1-3:nth-child(3n+1) {
         clear: none;
    }
}
 .grid-1-3:hover {
     background-color: #53455b;
     border-top: 2px solid #ec7a37;
     border-bottom: 2px solid #ff4f69;
     box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
     transform: scale(1.025);
     z-index: 2;
}
 .grid-1-3:hover:before, .grid-1-3:hover:after {
     content: "";
     position: absolute;
     background-color: #f67d35;
     top: -2px;
     bottom: -2px;
     width: 2px;
}
 .grid-1-3:hover:before {
     left: -2px;
}
 .grid-1-3:hover:after {
     right: -2px;
}
 .grid-1-3:hover .button {
     background-color: #ee7a36;
}
 p, ul {
     margin: 0 0 1.5em;
}
 hr {
     border: 0;
     height: 3px;
     background-image: linear-gradient(to right, rgba(191, 120, 167, 0), rgba(191, 120, 167, 0.75), rgba(191, 120, 167, 0));
}
 ul {
        padding-bottom: 20px;
    padding-right: 20px;
     list-style-type: none;

}
 ul li {
     margin: 0 0 0.8333333333em;
}
 .button {
     background-color: #31a569;
     border-radius: 8px;
     color: #fff;
     padding: 0.75em 1.5em;
     position: absolute;
     bottom: 1em;
     left: 50%;
     margin-left: -75px;
     text-decoration: none;
     width: 150px;
}
 .btn-buy {
     background-color: #06a87e;
     border-radius: 8px;
     color: #fff;
     font-weight: 700;
     padding: 0.75em 1.5em;
     bottom: 1.25em;
     text-decoration: none;
     width: 150px;
}
 .btn-buy:hover {
     background-color: #185949;
}
 .uppercase, .button, .btn-buy, h2 {
     text-transform: uppercase;
}
 sup, .small {
     font-size: 0.6125em;
}
 